@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);
html, body {
  font-size: 20px;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
li {
  line-height: 40px;
  padding: 20px 10px;
  cursor: pointer;
}
li:nth-child(even) {
  background-color: #eee;
}
li:nth-child(odd) {
  background-color: #ccc;
}
                              /*concerns Login.js*/
/*Login-button styles*/
#login-button{
  -webkit-appearance:  none; 
  width:  auto;
  width:  150px;
  border-radius: 24px; 
  text-align:  center; 
  padding:  13px 35px;
  margin-top:  20px; 
  background-color: #a5be00 ; 
  color: #fff; 
  font-size:  12px;
  margin-left:  auto; 
  font-weight:  500; 
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
  border:  none;
  transition:  all .3s ease; 
  outline: 0;
  text-transform: uppercase; 
}
#login-button:hover{
  transform:  translateX(+3px);
  box-shadow:  0 2px 6px -1px rgba(#a5be00, .65);
}
#disabled-button{
  -webkit-appearance:  none; 
  width:  auto;
  width:  150px;
  border-radius: 24px; 
  text-align:  center; 
  padding:  13px 35px;
  margin-top:  20px; 
  background-color: grey ; 
  color: #fff; 
  font-size:  12px;
  margin-left:  auto; 
  font-weight:  500; 
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
  border:  none;
  transition:  all .3s ease; 
  outline: 0;
  text-transform: uppercase; 
}
/*Login-button styles*/

/*Login-Form styles*/
#log-form{
  height: 300px;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  background: #EFEFEF;
  font-family: 'Nunito Sans';
  border-radius: 4px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 6px 0.5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 0.5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 6px 0.5px rgba(0,0,0,0.75);
}
/*Login-Form styles*/

/*Admin.js styles*/
#father{
  height: 100%;
}
#side-menu{
  width: 15%;
  height: 100vh;
  background-color: ivory;
  float:left;
}
#main-panel{
  background-color: #D3EF9A;
  height: 100vh;
  overflow: hidden;
}
header{
  height: 10vh;
  position: relative;
}
#app-name{
  float: left;
  height: 10vh;
  font-family: raleway;
  margin-left: 50px;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 5px;
}
#app-name span{
  height: 10vh;
  line-height: 10vh;
  white-space: nowrap;
  color: ivory;
  -webkit-text-stroke: 2px #77914a;
}
#settings-panel{
  float:right;
  margin-right: 50px;
}
#settings-panel span{
  height: 10vh;
  line-height: 10vh;
  white-space: nowrap;
  color: #77914a;
  background-color: ivory;
  padding: 7px;
  border-radius: 4px;
}
#settings-panel span:hover{
  cursor:pointer;
  background-color: #77914a;
  color: ivory;
  transition: 500ms;
}
#user-data{
  width: 70px;
  height: 70px;
  margin-top: 10px;
  background-color: ivory;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  float: right;
  margin-right: 50px;
}
#user-data img{
  width: 100%;
  height: auto;
}
#logo{
  margin: 0 auto;
  width: 100%;
  height: 20%;
}
#logo img{
  width: 100%;
  height: auto;
}
.side-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.side-menu li{
    margin-top: 30%;
    background-color: ivory;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color:#77914a;
    line-height: 40px;
}
#working-tiles{
  width: 100%;
  height: 100vh;
  text-align: center;
}
.tiles{
  margin-top:50px;
  width: 300px;
  height: 700px;
  background-color: ivory;
  display: inline-block;
  margin-left: 20px;
  border-radius: 7px;
}
.tile-name{
  height: 10%;
  width: 100%;
  text-transform: uppercase;
  margin-top:10px;
}
#settings-popup{
  width: 200px;
  height: 250px;
  background-color: #77914a;
  border-radius: 7px;
  right:0;
  position:absolute;
  margin-right: 7%;
  transition: 500ms;
}
#settings-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 7px;
}
#settings-menu li:nth-child(1){
  border-bottom: 1px black solid;
}
#settings-menu li:nth-child(2){
  border-bottom: 1px black solid;
}
#settings-menu li{
  margin-top: 10px;
  background-color: #77914a;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color:ivory;
  line-height: 40px;
  font-size: 18px;
}
/*Admin.js styles*/