@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);
html, body {
  font-size: 20px;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
li {
  line-height: 40px;
  padding: 20px 10px;
  cursor: pointer;
}
li:nth-child(even) {
  background-color: #eee;
}
li:nth-child(odd) {
  background-color: #ccc;
}
                              /*concerns Login.js*/
/*Login-button styles*/
#login-button{
  -webkit-appearance:  none; 
  width:  auto;
  width:  150px;
  border-radius: 24px; 
  text-align:  center; 
  padding:  13px 35px;
  margin-top:  6vh; 
  background-color: #a5be00 ; 
  color: #fff; 
  font-size:  12px;
  margin-left:  auto; 
  font-weight:  500; 
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
  border:  none;
  transition:  all .3s ease; 
  outline: 0;
  text-transform: uppercase; 
}
#login-button:hover{
  transform:  translateX(+3px);
  box-shadow:  0 2px 6px -1px rgba(#a5be00, .65);
}
#disabled-button{
  -webkit-appearance:  none; 
  width:  auto;
  width:  150px;
  border-radius: 24px; 
  text-align:  center; 
  padding:  13px 35px;
  margin-top:  20px; 
  background-color: grey ; 
  color: #fff; 
  font-size:  12px;
  margin-left:  auto; 
  font-weight:  500; 
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
  border:  none;
  transition:  all .3s ease; 
  outline: 0;
  text-transform: uppercase; 
}
/*Login-button styles*/

/*Login-Form styles*/
#log-form{
  height: 300px;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  background: #EFEFEF;
  font-family: 'Nunito Sans';
  border-radius: 4px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 6px 0.5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 0.5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 6px 0.5px rgba(0,0,0,0.75);
}
/*Login-Form styles*/

/*Mainpanel.js styles*/
#father{
  height: 100%;
}
#side-menu{
  width: 15vw;
  height: 100vh;
  background-color: ivory;
  float:left;
}
#main-panel{
  background-color: #D3EF9A;
  height: 100vh;
  overflow: hidden;
}
header{
  height: 10vh;
  position: relative;
}
#app-name{
  float: left;
  height: 10vh;
  font-family: raleway;
  margin-left: 50px;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 5px;
}
#app-name span{
  height: 10vh;
  line-height: 10vh;
  white-space: nowrap;
  color: ivory;
  -webkit-text-stroke: 2px #77914a;
}
#settings-panel{
  float:right;
  margin-right: 50px;
}
#settings-panel span{
  height: 10vh;
  line-height: 10vh;
  white-space: nowrap;
  color: #77914a;
  background-color: ivory;
  padding: 7px;
  border-radius: 4px;
}
#settings-panel span:hover{
  cursor:pointer;
  background-color: #77914a;
  color: ivory;
  transition: 500ms;
}
#user-data{
  width: 70px;
  height: 70px;
  margin-top: 10px;
  background-color: ivory;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  float: right;
  margin-right: 50px;
}
#user-data img{
  width: 100%;
  height: auto;
}
#logo{
  margin: 0 auto;
  width: 100%;
  height: 20%;
}
#logo img{
  width: 100%;
  height: auto;
}
.side-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.side-menu li{
    margin-top: 30%;
    background-color: ivory;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color:#77914a;
    line-height: 40px;
}
#working-tiles{
  width: 100%;
  height: 100vh;
  text-align: center;
}
.tiles{
  margin-top:50px;
  width: 300px;
  height: 700px;
  background-color: ivory;
  display: inline-block;
  margin-left: 20px;
  border-radius: 7px;
}
.tile-name{
  width: 100%;
  text-transform: uppercase;
  margin-top:10px;
}
#settings-popup{
  width: 200px;
  height: 250px;
  background-color: #77914a;
  border-radius: 7px;
  right:0;
  position:absolute;
  margin-right: 7%;
  transition: 500ms;
}
#settings-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 7px;
}
#settings-menu li:nth-child(1){
  border-bottom: 1px black solid;
}
#settings-menu li:nth-child(2){
  border-bottom: 1px black solid;
}
#settings-menu li{
  margin-top: 10px;
  background-color: #77914a;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color:ivory;
  line-height: 40px;
  font-size: 18px;
}
/*Mainpanel.js styles*/
/*Add section*/
.add{
  width:450px;
  height: 650px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
  background-color: ivory;
  transition: 500ms;
}
.close-button{
  float:right;
  margin-right: 10px;
}
.close-button:hover{
  cursor: pointer;
  color: red;
  transition: 200ms;
}
.add-name{
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  margin-top:5px;
  color:#77914a;
  margin-top:10%;
}
.add-form{
  margin-top:5%;
}
.add-form-child{
  text-align: center;
}
.form-styling{
  width:200px;
  height: 36px;
  padding: 0 16px;
  border: 2px solid #a5be00;
  border-radius: 4px;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}
.select-styling {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 233px;
	max-width: 100%;
	box-sizing: border-box;
  margin: 0 auto;
  margin-top:15px;
	border: 1px solid #a5be00;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-styling::-ms-expand {
	display: none;
}
.select-styling:hover {
	border-color: #888;
}
.select-styling:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px #a5be00;
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-styling option {
	font-weight:normal;
}
#wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #D3EF9A;
}
/*Add patient section*/
/*Add menu section*/
#who-for{
  width: 85vw;
  height: 5vh;
  background-color: #77914a;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
#who-for span{
  margin-left: 3%;
  font-weight: 700;
  color: ivory;
}
#who-for select{
  margin-left:3%;
}
.select-styling-2{
  display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 233px;
	max-width: 100%;
	box-sizing: border-box;
  margin: 0 auto;
	border: 1px solid #a5be00;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
#main-workspace{
  height: 95%;
  width: 100%;
  background-color: ivory;
  position: relative;
}
#menu-data{
  width: 100%;
  height: 5vh;
  margin-bottom: 20px;
}
#assume{
  color: #77914a;
  font-weight: 700;
  margin-left: 3%;
  float:left;
  margin-top:1%;
}
.macro-data{
  color: #77914a;
  font-weight: 700;
  font-size: 16px;
  margin: auto 0;
  margin-left: 3%;
  float:left;
  margin-top:1%;
}
#menu-data input{
  width: 2vw;
  margin-left:7px;
}
#menu-data label{
  margin-left: 50px;
}
#days-planner{
  width: 85vw;
  height: 80vh;
  background-color: #D3EF9A;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.column{
  width:12%;
  height: 100%;
  text-align: center;
  display: inline-block;
  margin-left:10px;
}
.column:nth-child(1){
  margin-left: 0;
}
.column span{
  font-size:18px;
}
.day-tiles{
  width: 100%;
  background-color: ivory;
  height: 17%;
  margin-top:10px;
}
.add-product-buttons{
  height: 20%;
}
.add-product-buttons button{
  background-color: ivory;
  border:none;
  text-decoration: none;
  width: 49%;
  height: 100%;
  border: 1px solid #a5be00;
}
.add-product-buttons button:hover{
  cursor:pointer;
  background-color: #a5be00;
  transition: 300ms;
}
#save-button{
  -webkit-appearance:  none; 
  width:  150px;
  height: 90%;
  border-radius: 24px; 
  padding:  13px 35px;
  margin-right:6%; 
  background-color: #a5be00 ; 
  color: #fff; 
  font-size:  16px;
  font-weight:  500; 
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
  border:  none;
  transition:  all .3s ease; 
  outline: 0;
  text-transform: uppercase;
  text-align:  center;  
}
#save-button:hover{
  transform:  translateX(+3px);
  box-shadow:  0 2px 6px -1px rgba(#a5be00, .65);
}
/*Add menu section*/
/*Add meal section*/
.long-text-styling{
  width:300px;
  height: 300px;
  padding: 0 16px;
  border: 2px solid #a5be00;
  border-radius: 4px;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}
/*Add meal section*/
/*Admin styling*/
#admin{
  height: 50vh;
  width: 50vw;
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.75);
  background-color:ivory;
  transition: 500ms;
  text-align: center;
}
.admin-input-styling{
  width:200px;
  height: 36px;
  padding: 0 16px;
  border: 2px solid #a5be00;
  border-radius: 4px;
  outline: 0;
  transition: .2s;
  margin-top: 40px;
  margin-left: 20px;
}
#admin h1{
  margin-top:50px;
}
/*Admin styling*/